body{
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

.wrapper{
    flex-wrap: wrap;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.top{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.justify{
    text-align: justify;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}

custom-button{
    position: relative;
    margin: 0.5rem;
    width: 100px;
}
.wheel-edit-wrapper{
    width: 350px;
    margin: 50px;
}

#menu{
    width: 99vw;
    flex-direction: row;
}

#wheelContainerId{
    width: 99vw;
    flex-wrap: wrap;
    
}